*{
    margin:0;
    padding:0;
}
html,body{
    font-size:12px;
    font-family: 'Î¢ÈíÑÅºÚ', Arial, Helvetica, sans-serif;
    background:#fff;
    overflow-x: hidden;
    height:100%;
    width:100%;
}
.clearfix:after{
    display:block;
    content:'';
    clear:both;
}
.clearfix{
    zoom:1
}
button, input, select, textarea {
    font: 12px/1.5 'Î¢ÈíÑÅºÚ', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-style: normal;
    border:none;
    background:none;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, legend, button, p, th, td {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
}
.front{
    width:100%;
    /* position:relative;
     left:0;*/
}
.front .header{
    /*width:1000px;*/
    max-width:1000px;
    margin:0 auto;
    height:80px;
    position:relative;
    /*background:red;*/
}
.front .header h1{
    width:128px;
    height:80px;
    float:left;
    font-size:0;
    background:url("../image/header/logo.png") center no-repeat;
}
.searInform{
    width:230px;
    height:22px;
    border:1px solid #aba9a9;
    position:absolute;
    right:215px;
    top:10px;
    background:#f9f9f9;
}
.searInform .text{
    width:198px;
    height:22px;
    outline:none;
    padding-left:5px;
}
.searInform .button{
    width:13px;
    height:100%;
    position:absolute;
    right:10px;
    background:url("../image/header/search.png") center no-repeat;
    outline:none;
}
.gp_code{
    height:22px;
    line-height: 22px;
    position:absolute;
    right:55px;
    top:10px;
}
.gp_code span:nth-of-type(2){
    color:red;
    padding-left:5px;
    float:right;

}
.gp_code span:nth-of-type(1){
    color:#aba9a9;
    padding:0 15px;
    float:right;
}
.logo{
    position:absolute;
    right:0;
    top:10px;
    height:22px;
}
.logo a{
    width:22px;
    height:22px;
    transition: all 0s linear;
    background:url("../image/header/topweiboo.png") 0 0 no-repeat;
    float:left;
    padding-right:10px;
}
.logo a:hover{
    background:url("../image/header/topweibo.png") 0 0 no-repeat;
}
.logo .WeChat{
    width:22px;
    height:22px;
    float:right;
    transition: all 0s linear;
    background:url("../image/header/topwechatt.png")
}
.logo .WeChat .twoCode{
    position:absolute;
    right:-50%;
    top:32px;
    width:110px;
    height:0;
    overflow: hidden;
    margin-right:-20px;
    z-index: 10;
    transition: height 0.5s linear;
}
.logo .WeChat .twoCode img{
    width:100%;
}
.logo .WeChat:hover{
    background:url("../image/header/topwechat.png")
}
.logo .WeChat:hover .twoCode{
    height:110px;
}
.nav{
    position:absolute;
    right:-50px;
    top:45px;
    width:750px;
    height:80px;
}
.nav .nav_first{
    float:left;
    position:relative;
    z-index: 5;
    /*width:100%;*/
    height:100%;
    /*padding:0 25px;*/

}
.nav .nav_first a{
    display:block;
    color:#454545;
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    /*height:100%;*/
    margin:5px 25px;
}
.nav .nav_first a.on{
    color:red;
}
.nav .nav_first a:hover{
    color:red;
}

.nav .nav_first ul{
    list-style: none;
    position:absolute;
    top:35px;
    left:-3%;
    width:120px;
    display:none;
    overflow: hidden;
}
.nav .nav_first ul li{
    font-size:14px;
    color:white;
    width:100%;
    line-height: 50px;
    text-align: center;
    background:#d6182a;
    border-bottom: 1px solid #f9192f;
}
.nav .nav_first ul li:hover{
    background:#f9192f;
}
.bodyBS{
    width:100%;
    background:#f2f2f2;
    padding-bottom:50px;
}
.bodyBS_image{
    width:100%;
    /*height:200px;*/
}
.bodyBS_image img{
    width:100%;
}
.bodyBS_index{
    width:100%;
    height:50px;
    background:url("../image/business/picBG_02.jpg") #f2f2f2 no-repeat center;
    position:relative;
    top:-4px;
}
.bodyBS_index .index_p{
    max-width:1000px;
    margin: 0 auto;
    line-height: 50px;
    font-size:14px;
    color:#333333;
}
.bodyBS_index .index_p .index{
    text-decoration: none;
    color:#666a6e;
}
.bodyBS_area{
    width:1000px;
    margin:0 auto;
    padding-top:30px;
}
.bodyBS_area .area_Left{
    float:left;
    width:168px;
}
.bodyBS_area .area_Left .h4title{
    font-size:16px;
    color:#fff;
    height:42px;
    line-height: 42px;
    padding-left: 22px;
    background:url("../image/business/h4title.jpg") no-repeat;
}
.p_title1{
    height:42px;
    line-height: 42px;
    color:red;
    background:#fbeced;
    padding-left:5px;
}
.p_title2{
    background:white;

}
.p_title2 a{
    display: block;
    color:#424141;
    height:42px;
    line-height: 42px;
    padding-left:30px;
    border-bottom:1px solid #ebebeb;
    font-size:14px;
}
.p_title2 a:hover{
    color:red;
    background:#fbeced;
}
.area_Right{
    margin-left:50px;
    float:left;
    width:780px;
}
.area_nav{
    width:100%;
}
.area_nav .navText{
    font-size:20px;
    color:#d60a16;
    margin:5px auto 10px 10px;
    display:block;
    font-weight: bolder;
}
.area_nav .navBar{
    width:100%;
    height:4px;
    background:#e2e2e2;
    /*background:black;*/
    position:relative;
    display: block;
}
.area_nav .navBar .navA{
    height:4px;
    width:100px;
    background:#d60917;
    position:absolute;
    left:0;
}
.area_p1{
    width:100%;
    margin:25px auto 40px;
    line-height: 25px;
    color:#666666;
}
.product{
    width:100%;
}
.product .product_sec{
    width:220px;
    float:left;
    margin:auto 20px;
}
.product .product_sec img{
    width:100%;
}
.product .product_p{
    padding:15px auto;
    width:100%;
    line-height: 22px;
    color:#666666;
}
.function{
    width:100%;
}
.function .function_01{
     width:100%;
     border-bottom:2px dashed #dddddd;
     padding:20px 0;
 }
.function .function_02{
    width:100%;
    padding:20px 0;
    border-bottom:2px dashed #dddddd;
}
.function .function_03{
    width:100%;
    padding:20px 0
}
.function img{
    float:left;
    width:92px;
    /*padding:20px 0 20px 20px;*/
}
.function span{
    float:left;
    padding-top:5px;
    padding-left:40px;
    font-weight: bold;

}
.function p{
    float:left;
    width:620px;
    line-height: 20px;
    padding-left:40px;
    padding-top:15px;
    color:#666666;
}
.principle{
    width:100%;
    padding:20px 0 30px;
}
.principle .principle_01{
    float:left;
    width:250px;
    height:200px;
    background:white;
    margin-bottom: 30px;
}
.principle .principle_02{
    float:left;
    margin-left:15px;
    width:250px;
    height:200px;
    background:white;
    margin-bottom: 30px;
}
.principle .principle_03{
    float:left;
    margin-left:15px;
    width:250px;
    height:200px;
    background:white;
    margin-bottom: 30px;
}
.principle span{
    display:block;
    padding:15px 0 15px 10px;
    background:#d60917;
    color:white;
    font-size:14px;
}
.principle p{
    padding:15px 15px 0 15px;
    color:#666666;
    line-height: 25px;
}
.accumulate{
    width:100%;
}
.accumulate .accumulate_title{
    width:100%;
    padding:20px 0;
    line-height: 25px;
    color:#666666;
}
.accumulate .accumulate_text01{
    width:100%;
    border-bottom:2px dashed #dddddd;
}
.accumulate .accumulate_text02{
    width:100%;
}
.accumulate  img{
    float:left;
    width:52px;
    padding:15px;
}
.accumulate p{
    float:left;
    width:695px;
    /*vertical-align: middle;*/
    line-height: 22px;
    color:#666666;
    padding:20px 0;
}
.body_footer{
    position:relative;
}

.minArrow{
    width:100px;
    height:24px;
    position:absolute;
    left:50%;
    top:-24px;
    /*top:565px;*/
    margin:0 0 0 -50px;
    background:#475059;
}
.minArrow .arrowSpan{
    display:block;
    width:13px;
    margin:8px auto 0;
    height:8px;
    /*position:absolute;*/
    background:url("../image/footer/btnBg.png") no-repeat;
}
.navFooter{
    background:#475059;
    height:270px;
    overflow: hidden;
}
.navFooter .navCenter{
    width:1000px;
    margin:0 auto;
}
.same{
    float:left;
    margin-right:75px;
}
.same h5{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
    margin-top:55px;
    font-family: sans-serif;
}
.same a{
    text-decoration: none;
    display: block;
    color: #959595;
    font-size: 14px;
    margin-bottom: 20px;
}
.navWei{
    float:right;
    width:41px;
    height:41px;
    background: url("../image/footer/footerweibo.png");
    margin-top:55px;
}
.navWei:hover{
    background: url("../image/footer/414102.png");
    background-size:100% 100%;
}
.navXin{
    float:right;
    width:41px;
    height:41px;
    background: url("../image/footer/footerweixin.png");
    margin-top:55px;
    margin-left:30px;
    position:relative;
    /*transition: all 0s linear;*/
}
.navXin:hover{
    background: url("../image/footer/414101.png");
}
.navXin:hover .navXinCode{
    height:130px;
}
.navXin .navXinCode{
    width:121px;
    height:0;
    overflow: hidden;
    position:absolute;
    right:-10%;
    top:100%;

}
.navXin .navXinCode img{
    width:100%;
}
.footer{
    width:100%;
    background:#394048;
    position:absolute;
    /*top:859px;*/
}
.footer p{
    height:65px
    line-height:65px;
    text-align: center;
    color:#7d7d7e;
    font-size:14px;
    padding:20px 0;
}
